body {
    font-family: Verdana, Arial;
    font-size: 13.4px;
    background-color: #CCD;
    min-width: 300px;
}

.lyrics {
	height: 450px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lyrics p {
	margin: 0;
}

.legal {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.writers {
	width: 1020px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}